body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: rgb(16, 16, 16) !important;
    color: white !important;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: rgb(103, 103, 103) !important;
}

#movie-gross-table table {
    background-color: #242424;
}

@media (max-width: 980px) {
    #movie-gross-table table {
        background-color: #242424;
        font-size: 18px;
    }

    body {
        padding: 1px !important;
    }
}
