body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black !important;
  color: white !important;
}

a {
  color: #00B7FF;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: rgb(138,138,138) !important;
    color: #333 !important;
}



