body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(16,16,16) !important;
  color: white !important;

}

html {

}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: rgb(103,103,103) !important;
}

#movie-gross-table table{
 background-color: #242424;
 font-size: 18px;
}

#movie-gross-table {
}